{{- partial "load-photoswipe-theme.html" . }}

{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}{{ $.Scratch.Set "title" .Site.Params.homeTitle }}{{ else }}{{ $.Scratch.Set "title" .Site.Title }}{{ end }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
  {{ if .Site.Params.bigimg }}{{ $.Scratch.Set "bigimg" .Site.Params.bigimg }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
{{ end }}
{{ $bigimg := $.Scratch.Get "bigimg" }}
{{ $title := $.Scratch.Get "title" }}
{{ $subtitle := $.Scratch.Get "subtitle" }}

{{ if or $bigimg $title }}
  {{ if $bigimg }}
    <div id="header-big-imgs" data-num-img={{len $bigimg}} 
      {{range $i, $img := $bigimg}}
         {{ if (fileExists $img.src)}} 
          data-img-src-{{add $i 1}}="{{$img.src | absURL }}" 
         {{else}}
          data-img-src-{{add $i 1}}="{{$img.src}}" 
         {{end}}
         {{ if $img.desc}}data-img-desc-{{add $i 1}}="{{$img.desc}}"{{end}}
      {{end}}></div>
  {{ end }}

  <header class="header-section {{ if $bigimg }}has-img{{ end }}">
    {{ if $bigimg }}
      <div class="intro-header big-img">
        {{ $subtitle := $.Scratch.Get "subtitle" }}
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-heading">
                <h1>{{ with $.Scratch.Get "title" }}{{.}}{{ else }}<br/>{{ end }}</h1>
                  {{ if $subtitle }}
                    {{ if eq .Type "page" }}
                      <hr class="small">
                      <span class="page-subheading">{{ $subtitle }}</span>
                    {{ else }}
                      <h2 class="page-subheading">{{ $subtitle }}</h2>
                    {{ end }}
                  {{end}}
                  {{ if eq .Type "post" }}
                    {{ partial "post_meta.html" . }}
                  {{ end }}
              </div>
            </div>
          </div>
        </div>
        <span class="img-desc" style="display: inline;"></span>
      </div>
    {{end}}

    {{if in .Params.tags "paper"}}
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="paper-heading text-center">
              {{ if eq .Type "list" }}
                <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              {{ else }}
                <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
              {{ end }}
              {{ if $subtitle }}
                  <h3 class="paper-subheading" >{{ $subtitle }}</h#>
              {{ end }}
              {{if .Params.authors}}
                <h4 class="paper-authors" >by {{ .Params.authors }}</h4>
            {{end}}
            {{if .Params.publishedin}}
              <h4 class="paper-publishedin">Published in {{ .Params.publishedin }}</h4>
            {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{else if in .Params.tags "team"}}
    <div class="intro-header no-img well">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            {{ if .Params.image }}
            <img src="{{.Params.image}}" alt="{{ .Title }}" class="img-title media-object"/>
            {{ else }}
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Crystal_Clear_kdm_user_female.svg/128px-Crystal_Clear_kdm_user_female.svg.png" class="img-title media-object"/>
            {{end}}
          </div>
          <div class="col-sm-6 col-md-7">
            <div class="paper-heading">
              {{ if eq .Type "list" }}
                <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              {{ else }}
                <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
              {{ end }}
              {{ if .Params.affiliation }}
                  <h3 class="paper-subheading" >{{ .Params.affiliation }}</h3>
              {{ end }}
              {{ if .Params.interests}}
                  <p ><b>Professional interests: </b> {{ .Params.interests }}</p>
              {{ end }}
            </div>
            {{ if .Params.email}}
            <b>Email: </b><a href="mailto:{{.Params.email}}">{{.Page.Params.email}}</a><br>
            {{ end }}
            {{ if .Params.phone}}
            <b>Phone:  </b>{{.Page.Params.phone}}<br>
            {{ end }}
            {{ if .Params.webpage}}
            <b>Webpage: </b><a href="{{.Params.webpage}}">{{.Page.Params.webpage}}</a><br>
            {{ end }}
            {{ if .Params.location}}
            <b>Location:  </b>{{.Page.Params.location}}<br>
            {{ end }}
          </div>
        </div>

      </div>
    </div>

    {{else}}
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-heading">
              {{ if eq .Type "list" }}
                <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              {{ else }}
                <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
              {{ end }}
              {{ if ne .Type "post" }}
                <hr class="small">
              {{ end }}
              {{ if $subtitle }}
                {{ if eq .Type "page" }}
                  <span class="page-subheading">{{ $subtitle }}</span>
                {{ else }}
                  <h3 class="page-subheading">{{ $subtitle }}</h3>
                {{ end }}
              {{ end }}
              {{ if eq .Type "post" }}
                {{ partial "post_meta.html" . }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>

  {{ end }}
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}
