<article class="post-preview media col-md-6" style="padding: 0px;padding-top:10px;border: none;">
 
    <a href="{{ .Permalink }}">
    <div class="media-left  col-md-3 col-sm-4 col-xs-12">
    {{ if .Params.image }}
        {{ if hasPrefix .Params.image "http"}}
            <img src="{{.Params.image}}" alt="{{ .Title }}" style="border-radius: 50%;" class="img-title media-object"/>
        {{ else}}
            <img src="{{ .Permalink }}{{.Params.image}}" style="border-radius: 50%;" alt="{{ .Title }}" class="img-title media-object"/>
        {{ end }}
    {{ else }}
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Crystal_Clear_kdm_user_female.svg/128px-Crystal_Clear_kdm_user_female.svg.png" style="border-radius: 50%;" style="max-width:128px" class="img-title media-object"/>
    {{end}}
    </div>
    <div class="col-md-9 col-sm-8 col-lg-9 media-bod">
        <h4>{{ .Title }}</h4>
        {{ if .Params.affiliation }}
        <span class="post-subtitle">
            {{ .Params.affiliation }}
        </span>
        {{ end }}

        {{ if .Params.video }}

        <video loop autoplay muted playsinline class="img-title">
            <source src="{{ .Params.video }}">
        </video>

        {{ end }}
    </div>
</a>


</article>