<!--more-->
{{ $tag := default  "" ("alumni") }}
{{ $tag_group := default  "" (.Get "group") }}
{{ $name := default "" (.Get "name") }}
{{ $affiliation := default "" (.Get "affiliation") }}
{{ $url := default "" (.Get "url") }}
{{ if and $tag $tag_group  }}
    {{ range site.Pages.ByDate.Reverse.RelatedTo ( keyVals "tags" $tag)}}
        {{if in .Params.role $tag_group}}
            {{ partial "alumni_preview.html" .}}
        {{ end }}
    {{ end }}
{{ end }}
{{ if $name }}
<article class="post-preview col-md-4" style="padding: 0px;padding-top:10px;">
    {{ if $url }}
    <a href="{{ $url }}">
    {{end}}
        <div class="row d-flex align-items-center justify-content-center justify-content-md-start">
            <div class="media-left col-md-3 col-sm-4 col-4 mb-3 mb-md-0">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Crystal_Clear_kdm_user_female.svg/128px-Crystal_Clear_kdm_user_female.svg.png" style="border-radius: 50%;" style="max-width:128px" class="img-title media-object"/>
            </div>
            <div class="col-12 col-md-9 col-sm-8 col-lg-9 text-center text-md-left">
                <h5 class="h5 font-weight-bold">{{ $name }}</h5>
                {{ if .Params.affiliation }}
                <span class="post-subtitle">
                    {{ .Params.affiliation }}
                </span>
                {{ end }}
            </div>

            {{ if .Params.video }}

            <video loop autoplay muted playsinline class="img-title">
                <source src="{{ .Params.video }}">
            </video>

            {{ end }}
        </div>

    {{ if $url }}
    </a>
    {{end}}
</article>
{{ end }}
