{{ define "main" }}
  {{$tag_main := .Params.list_tag}}
  <div class="container" role="main">
    <div class="row">
      
      <div class="col-12">
        <div class="posts-list">
          {{ range site.Pages.ByDate.Reverse.RelatedTo ( keyVals "tags" $tag_main)}}
              {{ partial "post_logo.html" .}}
          {{ end }}
        </div>
      </div>
    </div>
    {{ with .Content }}
    <div class="row">
      <div class="col-lg-12">
      {{.}}
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}
