{{ define "main" }}
  {{$tag_main := .Params.list_tag}}
  {{ $group_list := .Params.roles }}
  {{ $group_names := .Params.role_names }}
  {{ $pages := .Site.Pages}}
  
  <div class="container" role="main">
  
    <div class="row">
      <img src="{{.Params.team_image}}" > 
      {{ range $index, $g := $group_list }}
      <div class="col-md-12">
        <h2>{{ index $group_names $index}}</h2>
        {{ range $pages }}
          {{if in .Params.tags $tag_main}}
            {{if in .Params.role $g}}
              {{ partial "member_preview.html" .}}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
      
    {{ with .Content }}
    <div class="row">
      <div class="col-lg-12">
      {{.}}
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}
