{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-12">
      <article role="main" class="blog-post">

        {{ .Content }}
      </article>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 >Related topics</h2>  
        {{$tag := .Params.tag}}
        {{$permalink:=.Permalink}}
        <div class="posts-list">
          {{ range .Site.Pages.ByDate.Reverse }}
            {{if in .Params.tags $tag}}
              {{ if ne .Permalink $permalink}}
                {{ partial "post_preview.html" .}}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    {{ end }}
</div>
{{ end }}
