<article class="post-preview bg-white shadow-sm mb-4 p-4">
    <div class="row">
        {{ if .Params.image }}
        <div class="col-sm">
        <div class="col-sm">
            <a href="{{ .Permalink }}">
            {{ if hasPrefix .Params.image "http"}}
            <img src="{{.Params.image}}" alt="{{ .Title }}"  class="img-collab" style="height: 300px; background-color: rgba(0,0,0,0);"/>
            {{ else}}
            <img src="{{ .Permalink }}{{.Params.image}}" alt="{{ .Title }}"  class="img-collab" style=" background-color: rgba(0,0,0,0);"/>
            {{ end }}
        </a>
    </div>
    <div class="col-sm">
        <div class="col-md-6 col-lg-8 mt-4 mt-md-0">
        {{ else }}

        <div class="col-lg-12">
            {{end}}
            

            <p class="post-meta">
                {{ if in .Params.tags  "news"}}
                    {{ partial "post_meta.html" . }}
                {{ end }}
            </p>
        </div>
    </div>

    <div class="post-entry">
        {{ if .Truncated }}
        {{ .Summary }}
        <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
        {{ else }}
        {{ .Content }}
        {{ end }}
    </div>

</article>
